<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @widget.sku %>
</p>

<p>
  <strong>Description:</strong>
  <%= @widget.description %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @widget.unit_price %>
</p>

<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>
